<div class="container">
  <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
  <app-odd *ngFor="let number of oddNumbers" [number]="number"></app-odd>
  <app-even *ngFor="let number of evenNumbers" [number]="number"></app-even>
  <!-- <app-cockpit 
    (srvCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element 
        *ngFor="let serverElement of serverElements" 
        [srvElement]="serverElement"></app-server-element>
    </div>
  </div> -->
</div>
